.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
cdk.out
coverage
dist
node_modules
src/prisma/data

.DS_Store
*.js
*.js.map
*.d.ts
tsconfig.tsbuildinfo
