node_modules

logs
*.log
npm-debug.log*

.DS_Store

/coverage
/.nyc_output

.project
.classpath
*.launch
.settings/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
